name: Test macOS

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  page_build:
  release:
    types:
      - created

jobs:
  test_macos_gmt8:
    runs-on: macos-latest
    name: Test GMT +8 on MacOS
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set Timezone to +8 (With input)
        uses: ./
        with:
          timezoneMacos: "Asia/Singapore"
      - run: npm i
      - run: npm run test
